*{
    padding:0;
    margin:0;
    
}

.header{
    display: flex;
    margin-left: 70px;
}
header h1{
    font-size: 40px;
    color: white;
     
}
header{
    background-color: orange;   
    
}
section img{
    height: 590px;
    width: 600px;
    
    
}
.section1{
    display: flex;
    background-color:rgba(255, 166, 0, 0.774);
    justify-content: space-around;
}
h1{
    font-size: 80px;
    color: white;
    
}
.section1 p{
    font-size: 20px;
    margin-top: 10px;
    color: white;
}
.section1 button{
    border-style: none;
    font-size: 15px;
    height: 40px;
    width: 250px;
    background-color: white;
    margin-top: 15px;
    border-radius: 20px;
}
.section2 p{
    width: 400px;
    margin: 5px;
}
article{
    display: flex;
    justify-content: space-between;
    margin: 40px;
}
.section2 img{
    height: 430px;
    width: 400px;
    border-radius: 50%;
    margin-left: 130px;
}
.article{
    margin-top: 40px;
    margin-right: 200px;
} 
.section2 button{
    border-style: none;
    font-size: 15px;
    height: 40px;
    width: 250px;
    border-radius: 20px;
    margin-top: 20px;
    background-color:rgba(255, 166, 0, 0.774);
    color: white;

}
.section3{
    display: flex;
    justify-content: space-around;
    background-color:rgba(255, 166, 0, 0.774);
   
}
.secicon{
    display: flex;
}
.secicon p{
    width: 200px;
}
.secicon1{
    margin-right:350px;
    margin-top: 75px;
}
