*{
    padding:0;
    margin:0;
    
}

.header{
    display: flex;
    margin-left: 70px;
}
header h1{
    font-size: 40px;
    color: white;
     
}
header{
    background-color: orange;   
    
}
section img{
    height: 590px;
    width: 600px;
    
    
}
.section1{
    display: flex;
    background-color:rgba(255, 166, 0, 0.774);
    justify-content: space-around;
}
h1{
    font-size: 80px;
    color: white;
    
}
.section1 p{
    font-size: 20px;
    margin-top: 10px;
    color: white;
}
.section1 button{
    border-style: none;
    font-size: 15px;
    height: 40px;
    width: 250px;
    background-color: white;
    margin-top: 15px;
    border-radius: 20px;
}
.section2 p{
    width: 400px;
    margin: 5px;
}
article{
    display: flex;
    justify-content: space-between;
    margin: 40px;
}
.section2 img{
    height: 430px;
    width: 400px;
    border-radius: 50%;
    margin-left: 130px;
}
.article{
    margin-top: 40px;
    margin-right: 200px;
} 
.section2 button{
    border-style: none;
    font-size: 15px;
    height: 40px;
    width: 250px;
    border-radius: 20px;
    margin-top: 20px;
    background-color:rgba(255, 166, 0, 0.774);
    color: white;

}
.section3{
    display: flex;
    justify-content: space-around;
    background-color:rgba(255, 166, 0, 0.774);
    height: 350px;
   
}
.secicon{
    display: flex;
}
.secicon p{
    width: 200px;
}
.secicon1{
    margin-right:250px;
    margin-top: 150px;
}
.secicon2{
    margin: 10px;
    margin-top:90px;
    background-color: white;
    height: 200px;
    width: 250px;
    
}
.secicon1 p{
    font-size: 35px;
    color: white;
}
.secicon2 p{
    margin-left: 10px;
    margin-top: 20px;
    font-size: 16px;
}
.secicon2 h3{
    margin-left: 10px;
    margin-top: 5px;
    color: rgba(255, 166, 0, 0.774);;
}
.iconify{
    margin-top: 13px;
    margin-left: 10px;
    border-radius: 50%;
    background-color:rgba(255, 166, 0, 0.774);
    font-size: 35px;
    color:white;

}
.iconi{
    margin-top: 20px;
    font-size: 25px;
    color: white;
}
.section4{
    display: flex;
    justify-content: space-around;
}
.section4 img{
    height: 430px;
    width: 400px;
    border-radius: 50%;
    border-color: orange;
    border: 2px solid orange;
    margin-top: 50px;
}
.section4 p{
    width: 400px;
    margin-top: 10px;
    font-size: 22px;
}
.sec4{
    margin-top: 100px;
}
.section4 button{
    border-style: none;
    font-size: 15px;
    height: 40px;
    width: 250px;
    border-radius: 20px;
    margin-top: 20px;
    background-color:rgba(255, 166, 0, 0.774);
    color: white;
}
footer{
    display: flex;
    justify-content: space-around;
}
.copy{
    display: flex;
    font-size: 15px;
    
}
.copy p{
    color: rgba(0, 0, 0, 0.562);
}