*{
    padding:0;
    margin:0;
    
}

.header{
    display: flex;
    margin-left: 70px;
}
header h1{
    font-size: 40px;
    color: white;
     
}
header{
    background-color: orange;   
    
}
section img{
    height: 590px;
    width: 600px;
    
    
}
.section1{
    display: flex;
    background-color:rgba(255, 166, 0, 0.774);
    justify-content: space-around;
}
h1{
    font-size: 80px;
    color: white;
    
}
.section1 p{
    font-size: 20px;
    margin-top: 10px;
    color: white;
}
.section1 button{
    border-style: none;
    font-size: 15px;
    height: 40px;
    width: 250px;
    background-color: white;
    margin-top: 15px;
    border-radius: 20px;
}
.section2 p{
    width: 400px;
    margin: 5px;
}
article{
    display: flex;
    justify-content: space-between;
    margin: 40px;
}
.section2 img{
    height: 430px;
    width: 400px;
    border-radius: 50%;
    margin-left: 130px;
}
.article{
    margin-top: 40px;
    margin-right: 200px;
} 
.section2 button{
    border-style: none;
    font-size: 15px;
    height: 40px;
    width: 250px;
    border-radius: 20px;
    margin-top: 20px;
    background-color:rgba(255, 166, 0, 0.774);
    color: white;

}
.section3{
    display: flex;
    justify-content: space-around;
    background-color:rgba(255, 166, 0, 0.774);
    height: 350px;
   
}
.secicon{
    display: flex;
}
.secicon p{
    width: 200px;
}
.secicon1{
    margin-right:250px;
    margin-top: 150px;
}
.secicon2{
    margin: 10px;
    margin-top:90px;
    background-color: white;
    height: 200px;
    width: 250px;
    
}
.secicon1 p{
    font-size: 35px;
    color: white;
}
.secicon2 p{
    margin-left: 10px;
    margin-top: 20px;
    font-size: 16px;
}
.secicon2 h3{
    margin-left: 10px;
    margin-top: 5px;
    color: rgba(255, 166, 0, 0.774);;
}
.iconify{
    margin-top: 13px;
    margin-left: 10px;
    border-radius: 50%;
    background-color:rgba(255, 166, 0, 0.774);
    font-size: 35px;
    color:white;

}
.iconi{
    margin-top: 20px;
    font-size: 25px;
    color: white;
}
.section4{
    display: flex;
    justify-content: space-around;
}
.section4 img{
    height: 430px;
    width: 400px;
    border-radius: 50%;
    border-color: orange;
    border: 2px solid orange;
    margin-top: 50px;
}
.section4 p{
    width: 400px;
    margin-top: 10px;
    font-size: 22px;
}
.sec4{
    margin-top: 100px;
}
.section4 button{
    border-style: none;
    font-size: 15px;
    height: 40px;
    width: 250px;
    border-radius: 20px;
    margin-top: 20px;
    background-color:rgba(255, 166, 0, 0.774);
    color: white;
    
}
footer{
    background-color:rgba(255, 166, 0, 0.644);
    margin-top: 50px;
    height: 80px;
}
.copy{
    display: flex;
    font-size: 15px;
    margin-top: 17px;
    
}
.copy p{
    color: rgba(0, 0, 0, 0.562);
}
footer a{
    text-decoration: none;
    color:black;
     }
.suivez a{
    margin-top: 20px;
    margin-right: 10px;
    font-size: 20px;
}
.suivez{
    margin-top: 15px;
}
h4{
    font-size: 20px;
}
.email p{
    margin-top: 5px;
}
.email{
    margin-top: 15px;
}
.tele p{
    margin-top:5px;
}
.tele{
    margin-top: 15px;
}
.footer{
    display: flex;
    justify-content: space-around;
}
.lienicon{
    margin-top:5px;
    margin-left: 18px;

}
@media only screen and (max-width: 600px){
    header h1{
        font-size: 27px;
        color: white;
        margin-right:45px;
        margin-top: 10px;
        
    }
    .header{
        margin-left:15px;
    }
     .h1{
        font-size: 35px;
        margin-left: 25px;
    }
    section img{
        height: 370px;
        width:135px;     
}
.section1 p{
    font-size: 15px;
    margin-top: 5px;
    color: white;
    margin-left: 25px;  
   
}
.section1 button{
    border-style: none;
    font-size: 20px;
    height: 40px;
    width: 190px;
    background-color: white;
    margin-top: 25px;
    border-radius: 20px;
    margin-left: 20px;   

 }
 .section2 p{
    width: 250px;
    margin: 6px;
    margin-left:30px;

}
article{
    flex-direction: column;
   
}
.section2 img{
    height: 320px;
    width: 290px;
    border-radius: 50%;
    margin-left:12px;
}
.article h2 {
    margin-left:30px;   
    width: 260px;  
  
} 
.section2 button{
    font-size: 15px;
    height: 40px;
    font-size: 20px;
    width: 190px;
    color: white;
    width: 180px;
    margin-left: 60px;

  }
  .article h2{

font-size: 30px;

  }
  .section3{
    flex-direction: column; 
    
}
.secicon{
    flex-direction: column;
    margin-bottom: 150px;
    margin-left: 50px;
    
    
}
.secicon1 p{
    font-size: 25px;
    margin-bottom:5px;
    margin-left: 110px;
    width: 170px;
}
.secicon2{
    margin: 10px;
    background-color: white;
    height: 220px;
    width: 250px;
   
}
.iconi{
    display: none;
}
.section4{
    flex-direction: column;
    margin-top: 350px;
    
}
.section4 img{
    height: 320px;
    width: 290px;
    border-radius: 50%;
    border-color: orange;
    border: 2px solid orange;
    margin-bottom: 550px;
    margin-left: 40px;
}
.section4 p{
    width: 300px;
    font-size:20px;
  
   } 
   .section4 h2{
    margin-left: 30px;
   }
   .section4 button{
    margin-left:30px;
    font-size: 20px;
    height: 40px;
    width: 190px;
   }
   .section3
   {
    background-color:rgba(255, 166, 0, 0.774);
    height: 800px;
} 
.sec4{
    margin-left: 60px;
    margin-top: 220px;
}
.section4{
    height: 400px;
}
.footer{
    flex-direction: column;
    
    
}
.tele h4{
    margin-left: 150px;
}
.tele p{
    margin-left:135px;
}
.email h4{
    margin-left: 160px;
}
.email p{
    margin-left: 100px;
}
.suivez{
    margin-left: 140px;
}
.copy{
    margin-left: 110px;
}
footer{
    background-color:rgba(255, 166, 0, 0.644);
    
    height: 280px;
 
    
    
}
 }